body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

input, select {
  color: black;
  width: 100%;
}

.formContainer {
  text-align: left;
  margin-top: 4%;
}

.error {
  color: red;
  font-size: calc(2px + 2vmin);
}

.App-logo {
  min-height: 15vh;
  font-size: calc(10px + 2vmin);
}

.App-content {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-home {
  min-height: 100vh;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #282c34;
  color: white;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navItem {
  cursor: pointer;
  padding: 3px;
}

.user {
  border-style: solid;
  border-color: gray;
  padding: 1%;
  margin: 1%;
}

.userDiv {
   padding: 1%;
}

.username {
  margin-left: 4px;
}

.score {
  margin-left: 1%;
}

.addNewQuestionDiv {
  width: 50%;
  margin: 0 auto;
  border-style: solid;
  border-color: gray;
  padding: 1%;
  margin-top: 10%;
}

.question {
  border-style: solid;
  border-color: gray;
  padding: 1%;
  margin-top: 2%;
}

.pollDiv {
  border-style: solid;
  border-color: gray;
  padding: 1%;
  margin-top: 2%;
}

input[type="radio"] {
   width: 5%;
}

.radio-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-label .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.radio-label:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-label input:checked ~ .checkmark {
  background-color: #2196F3;
}

.radio-label  input:checked ~ .checkmark:after {
  display: block;
}

.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-label input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.voteDiv {
  border-color: orange;
  border-style: solid;
  width: 40%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 3%;
}

.resultText {
  color: orange;
}

.scrollable {
  height: 860px;
  overflow-y:auto;
  max-width: 100%;
  overflow-x: hidden;
  word-wrap:break-word;
}

.userIndicator {
  background-color: green;
  border-radius: 10%;
  margin-left: 1%;
  font-size: 60%;
  padding: 2px;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: lightgray;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
