body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

input, select {
  color: black;
  width: 100%;
}

.formContainer {
  text-align: left;
  margin-top: 4%;
}

.error {
  color: red;
  font-size: calc(2px + 2vmin);
}

.App-logo {
  min-height: 15vh;
  font-size: calc(10px + 2vmin);
}

.App-content {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #282c34;
  color: white;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: lightgray;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
